header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #E6E6FA;
    margin-bottom: 10px;
    font-family: fantasy;
    font-size: 25px;
    color: #191970;
}
.info{
    width: 400px;
    text-align: center;
}
.form{
    float: left;
    width: 150px;
    height: 300px;
    border: 5px double #E6E6FA;
    padding: 10px;
    color: #2F4F4F;
}
.item{
    border-bottom: 2px solid #E6E6FA;
    padding: 3px;
}

option[selected]{
    color: red;
}
.form:hover{
    background:  #F8F8FF;
}
#R{
    height: 125px;
}
#X{
    height: 50px;
}
#Y{
    height: 70px;
}
#Y_input{
    height: 190px;   
	margin-top: 5px;
	margin-left:20px;	
}
#R_input{
	margin-top:5px;
	margin-left:20px;	
}
#X_input{
	width: 100px;
	margin-left:20px;
}
#btn{	
	margin-left:20px;
	margin-top:5px;
}
#area{
    float: left;
    width:320px;
    height: 320px;
    margin-left: 10px;
    border: 5px double #E6E6FA;
}
table, th, td {
    border: 2px solid #E6E6FA;
    border-collapse: collapse;
}
.err{
    color: red;
    display : none;
}
.small_header{		
    margin-bottom: 10px;
    font-family: fantasy;
    font-size: 17px;
    color: #4169E1;
}
.input{
	width: 100px;	
}